/* Main
-------------------------------*/

main {
	padding-top: 84px;
}

main h1 {
	margin-left: 5%;
	color: var(--primary);
}

/* Sections
-------------------------------*/
.sections-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 3rem 2rem;
	margin: 0 5%;
}

section {
	padding: 2rem;
	width: 100%;
	background-color: var(--white);
	border-radius: 4px;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.05);
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.05);
}

section h2 {
	margin: 0 0 1rem 0;
	color: var(--primary);
}

/* Contact Information
-------------------------------*/
section.contact-information {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	height: 100%;
	color: var(--primary);
}

section.contact-information .email,
section.contact-information .phone {
	font-size: 1.5rem;
}

section.contact-information .social-media__icons {
}

section.contact-information .social-media i {
	color: var(--secondary);
	font-size: 2rem;
	margin: 0 0.5rem;
}

section.contact-information .social-links a {
	display: block;
	color: var(--secondary);
	margin: 1rem;
}

/* Form
-------------------------------*/
section.contact-form form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section.contact-form form div {
	width: 100%;
}

.submit button {
	background-color: var(--secondary);
	border: 2px solid var(--secondary);
	margin: 1rem 0 1rem 0;
	border-radius: 4px;
	color: white;
	padding: 1rem 2rem;
	text-align: center;
	text-decoration: none;
	font-weight: 800;
	font-size: 1rem;
	width: 100%;
}

.submit button:hover {
	cursor: pointer;
	background-color: transparent;
	color: var(--secondary);
}

.submit button:disabled {
	cursor: not-allowed;
	border: 2px solid #ccc;
	background: #ccc;
}

.submit button:disabled:hover {
	color: white;
}

.form-item {
	margin-bottom: 1rem;
}

main input,
main textarea,
main select {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	color: #000000;
	border: 1px solid var(--primary);
	border-radius: 4px;
	width: 100%;
	margin: .25rem 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

main input.has-error,
main textarea.has-error {
	border: 1px solid var(--warn);
}

main label {
	color: var(--primary);
}

main label .info {
	font-size: .75rem;
	margin-left: .25rem;
	color: var(--darker-gray);
}

fieldset {
	border: 0;
	width: 100%;
}

.error {
	display: none;
	font-size: 0.775rem;
	margin: 0 0 0 0.5rem;
	color: var(--warn);
}

form .form-item.has-error .error {
	display: block;
}

form .form-status-message {
	color: var(--success);
	margin-bottom: 2rem;
	display: none;
}

form .form-status-message.success {
	display: block;
}

form .form-status-message.has-error {
	display: block;
	color: var(--warn);
}

/* Media Queries
-------------------------------*/
@media only screen and (min-width: 1024px) {
	/* Sections
	-------------------------------*/
	.sections-container {
		grid-template-columns: 2fr 3fr;
	}

	/* Social Links
	-------------------------------*/
	section.contact-information .social-links {
		display: flex;
		justify-content: space-evenly;
	}
}
