:root {
	--primary: #1b203d;
	--secondary: #2699fb;
	--warn: #fa4b3d;
	--success: #34b138;
	--light-gray: #e0e0e0;
	--lighter-gray: #eeeeee;
	--dark-gray: #707070;
	--darker-gray: #262626;
	--white: #ffffff;
	--black: #000000;
	--border-radius: 4px;
}

html {
	font-family: 'Roboto', 'Courier New', Courier, monospace;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*:before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	background-color: #f9f9f9;
}

/* Global styles
-------------------------------*/
.btn-red {
	font-family: 'Roboto';
	font-size: 21px;
	text-align: center;
	padding: 1rem 2rem;
	text-decoration: none;
	color: var(--white);
	background-color: var(--warn);
	border: 2px solid var(--warn);
	cursor: pointer;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;
}

.btn-blue {
	font-family: 'Roboto';
	font-size: 21px;
	text-align: center;
	padding: 1rem 2rem;
	text-decoration: none;
	color: var(--white);
	background-color: var(--secondary);
	border: 2px solid var(--secondary);
	cursor: pointer;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;
}

.btn-blue--outline {
	font-family: 'Roboto';
	font-size: 21px;
	text-align: center;
	padding: 1rem 2rem;
	text-decoration: none;
	color: var(--secondary);
	background-color: transparent;
	border: 2px solid var(--secondary);
	cursor: pointer;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;
}

.btn-clear {
	font-family: 'Roboto';
	font-size: 17px;
	text-align: center;
	padding: 1rem 2rem;
	text-decoration: none;
	color: var(--primary);
	border: none;
	background-color: transparent;
	cursor: pointer;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;
}

.btn-blue--sm {
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	padding: .25rem 1rem;
	text-decoration: none;
	color: var(--white);
	background-color: var(--secondary);
	border: 2px solid var(--secondary);
	cursor: pointer;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;
}

.btn-blue--sm:hover {
	border: 2px solid var(--secondary);
	background-color: transparent;
	color: var(--secondary);
}

.btn-shadow-hover:hover {
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.btn-blue-hover:hover {
	background: transparent;
	border: 2px solid var(--secondary);
	color: var(--secondary);
}

.btn-red-hover:hover {
	background: transparent;
	border: 2px solid var(--warn);
	color: var(--warn);
}
