/* Product Card
-------------------------------*/
.product-card {
	display: flex;
	flex-direction: column;
	background-color: white;
	color: black;
	border: 1px solid #e0e0e0;
	width: 100%;
	font-family: 'Open Sans';
	-webkit-transition: .25s;
	-moz-transition: 25s;
	-o-transition: .25s;
	-ms-transition: .25s;
	transition: .25s;
}

.product-card:hover {
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.product-card img {
	display: block;
	width: 100%;
	height: 10rem;
	object-fit: cover;
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-o-transition: .25s;
	-ms-transition: .25s;
	transition: .25s;
}

.product-card:hover img {
	object-position: 50% 60%;
}

.product-card h4 {
	margin: 1rem 1rem 0rem 1rem;
}

.product-card p {
	margin: 0rem 0rem 2rem 1rem;
	color: var(--dark-gray);
	font-size: 11px;
}

.product-card__title {
	margin-top: 1rem;
}

.product-card__title a {
	display: block;
	margin: 0 1rem 0 1rem;
	text-decoration: none;
	color: black;
	font-weight: 600;
	font-size: 14px;
}

.product-card__body {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex: 1;
	margin-bottom: 1rem;
}

.product-card__price {
	padding: 0rem 0rem 0rem 1rem;
	color: var(--secondary);
	font-size: 21px;
	font-weight: 800;
	/* text-decoration: line-through 2px var(--warn); */
}

.product-card__actions button {
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	-o-transition: 0.1s;
	-ms-transition: 0.1s;
	transition: 0.1s;
}

.product-card__actions button.favorite-button {
	color: white;
	background-color: var(--secondary);
	border: 2px solid var(--secondary);
	margin-right: 0.5rem;
	padding: .7rem;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.product-card__actions button.favorite-button:hover {
	color: var(--secondary);
	background-color: white;
	border: 2px solid var(--secondary);
	cursor: pointer;
}

.product-card__actions button.shopping-cart-button {
	color: white;
	background-color: var(--warn);
	border: 2px solid var(--warn);
	margin-right: 1rem;
	padding: .7rem;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.product-card__actions button.shopping-cart-button:hover {
	color: var(--warn);
	background-color: white;
	border: 2px solid var(--warn);
	cursor: pointer;
}

/* Product Card Horizontal
-------------------------------*/
.product-card--horizontal {
	display: flex;
	flex-direction: column;
	background-color: white;
	color: black;
	border: 1px solid #e0e0e0;
	margin: 25px 5% 25px 5%;
	font-family: 'Open Sans';
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-o-transition: .25s;
	-ms-transition: .25s;
	transition: .25s;
}

.product-card--horizontal img {
	display: block;
	max-height: 200px;
	object-fit: cover;
	width: 100%;
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-o-transition: .25s;
	-ms-transition: .25s;
	transition: .25s;
}

.product-card--horizontal:hover {
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.product-card--horizontal__content {
	width: 100%;
	padding: 1rem;
}

.product-card--horizontal__title {
	display: flex;
	flex-direction: column;
	margin-bottom: 3rem;
}

.product-card--horizontal__title a {
	text-decoration: none;
	color: black;
	font-weight: 600;
}

.product-card--horizontal__title p {
	margin: 0;
	color: var(--dark-gray);
}

.product-card--horizontal__body {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column-reverse;
}

.product-card--horizontal__actions a {
	color: var(--secondary);
	margin-right: 1rem;
}
.product-card--horizontal__actions a:first-of-type {
	color: var(--warn);
}

.product-card--horizontal__price {
	color: var(--secondary);
	font-weight: 800;
	font-size: 28px;
}

/* Media Queries
-------------------------------*/
@media only screen and (min-width: 1024px) {
	/* Product Card Horizontal
	-----------------------*/
	.product-card--horizontal {
		flex-direction: row;
	}

	.product-card--horizontal img {
		width: 10rem;
	}

	.product-card--horizontal__body {
		flex-direction: row;
		align-items: flex-end;
	}

	.product-card--horizontal__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}
